@import url('https://fonts.googleapis.com/css?family=Jua:400');

body {
  font-family: 'Jua', cursive;
  font-size: 60px;
  text-decoration: none;
}

a {
  color: rgb(151, 199, 206);
  text-decoration: none;
}

a:link {
  color: rgb(151, 199, 206);
  text-decoration: none;
}

a:visited {
  color: rgb(151, 199, 206);
  text-decoration: none;
}

a:hover {
  color: rgb(151, 199, 206);
  text-decoration: none;
}
img{
  width: 10px;
  height: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #C8F2ED;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #49ADA7;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #317a76;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
h3 {
  display: block;
  width: 135px;
  padding: 2px 16px;
  cursor: pointer;
}
.arrow_box {
display: none;
position: absolute;
width: 200px;
padding: 8px;
left: 0;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;  
border-radius: 8px;
background: rgb(64, 167, 144);
color: #fff;
font-size: 14px;
}


h3:hover + p.arrow_box {
display: block;
}

.container {
  position: absolute;
  height: 400px;
  width: 800px;
  top: 30%;
  left: calc(50% - 420px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 500px;
  background-color: #C8F2ED;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #82aca7;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: #365f5a;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #52948c;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, #52948c 0%, #9ec7c2 65%, #c3dbd8 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: #08ffe2;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #52948c;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}